.header {
    background-color: #be79d3;
    position: fixed;
    width: 100%;
    z-index: 1;
    height: 15%;
    justify-content: space-between;
    flex-direction: column;
}
  
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    padding: 20px;
}